<h1>Edit Course Details</h1>
<%= form_with model: @course do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :duration %><br>
    <%= form.text_field :duration %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<%= link_to 'Cancel & Return to Course List' , courses_path %>