<h1> Course List Page</h1>
<p>------------------------------------------------</p>
<table>
	<thead>
		<th>Name</th>
		<th>Duration</th>
		<th colspan="3"> Actions</th>
	</thead>
	<tbody>
		
  	<% @courses.each do |course| %>
		<tr>
		<td><%= course.name %></td>
		<td><%= course.duration %></td>
		<td><%=  link_to 'Show' ,course_path(course)%></td>
		<td><%=  link_to 'Delete',  course_path(course), method: :delete, data: {confirm: "Are You Sure?"}%></td>
		<td><%=  link_to 'Edit', edit_course_path(course) %></td>
	</tr>
	<% end %>
	</tbody>
</table>
<%= link_to 'Create New Course', new_course_path %><br>
<%= link_to 'Back to main menu', root_path %>